*{margin:0; padding:0; }
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family:sans-serif;
}
div,section,span ,ul,a,li,header{
    box-sizing: border-box;
}
header{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
   }
#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}
section{
    width:100%;
    float:left;
    height:100vh;
    position:relative;
}
#home{
background-color:#594056;

}
#about{
    background-color:#FF5151;
}
#pricing{
    background-color:#B91646;
}
#product{
    background-color:#105652;
}
#contact{
    background-color:#e609cc;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color:#fff;
}