*{margin:0; padding:0;  }
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family:sans-serif;
}
div,section,span ,ul,a,li,header{
    box-sizing: border-box;
}
header{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
   }
#menu li{
    list-style: lower-roman;
    display: inline-block;
    margin: 20px;
}

#menu li a{ 
   
    color: #330867;
    text-decoration: hotpink;
    font-size: 35px;
    font-family: monotype corsiva;
}
h1{
    top: 50%;
    font-family: sans-serif;
}

